* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    background-color: gray;
    min-height: 100vh;
}
h1 {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
}

.slider-mem {
    width: 100%;
    height: 85%;
    overflow: hidden;
    border: 10px solid black;
    border-radius: 2%;
}
.container {
    padding-top: 0.5%;
    display: flex;
    min-height: 15%;
    width: 100%;
}
.text-slides {
    width: 75%;
}
.navigation {
    height: 10%;
    display: flex;
    width: 25%;
    justify-content: space-around;
}
.checkbox {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    background-color: grey;
    cursor: pointer;
}
.but {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background-color: thistle;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
    border: 2px solid rgb(31, 1, 31);
}
.checkbox:hover .but {
    background-color: hotpink;
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 600%;
    height: 100%;
    display: flex;
}
.slide {
    background-color: black;
    width: calc(100% / 6);
    transition: all 0.8s ease-out;
}
.slide img {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    height: 100%;
}
#radio1:checked ~ .s1 {
    margin-left: 0;
}
#radio2:checked ~ .s1 {
    margin-left: calc(-1 * (100% / 6));
}
#radio3:checked ~ .s1 {
    margin-left: calc(-2 * (100% / 6));
}
#radio4:checked ~ .s1 {
    margin-left: calc(-3 * (100% / 6));
}
#radio5:checked ~ .s1 {
    margin-left: calc(-4 * (100% / 6));
}
#radio6:checked ~ .s1 {
    margin-left: calc(-5 * (100% / 6));
}
